@mixin centerFlex($type: flex) {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hoverFocusColor($color: $activ-color) {
  &:hover,
  &:focus {
    color: $color;
  }
}

@mixin list-position-margin-right($margin-right: 30px) {
  & > :not(:last-child) {
    margin-right: $margin-right;
  }
}

$list-section: 'about', 'advantage', 'contact', 'customer-reviews', 'gallery',
  'product';

@each $elem in $list-section {
  .#{$elem} {
    padding-top: 40px;
    padding-bottom: 40px;
    // @media screen and (min-width: 1200px) {
    //   padding-top: 40px;
    //   padding-bottom: 40px;
    // }
  }
}

@mixin font($lh, $ls, $fs: 16px, $fw: 500) {
  line-height: $lh;
  letter-spacing: $ls;
  font-size: $fs;
  font-weight: $fw;
}
///////////////////////////
@mixin mobile {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin container($padding: 32px, $width: 320px) {
  width: $width;
  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;
}
