:root {
  --header-color: #d41443;
  --accent-btn: #c7133e;
  --secondary-accent-btn: #ecebeb;
  --header-bg-color: #ffb8ca;
  --main-color: #ffa5ba;
  --primary-text: #000000;
  --secondary-text: #907e82;
<<<<<<< HEAD
  --products-main-color: #ffffff;
  --background-coffee-color: #f0d1a5;
  --background-shakes-color: #c2e297;
=======
  --basic-white: #ffffff;
  --dots-color: #d9d9d9;
  --secondary-bg-color: #fafafa;
  --modal-bg-color: #fff5f6;
>>>>>>> main
}

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
