<container>
  <section class="about" id="about">
    <div class="two-titles">
      <p class="traditon">tradition and love</p>
      <h3 class="about-title">HOW IT´S MADE?</h3>
    </div>
    
    <ul class="about-list">
      <li class="about-item">
        <p class="text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
      </li>
      <li class="about-item">
        <p class="midle-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. 
        </p>
      </li class="about-item">
      <li class="about-item">
        <p class="bottom-text">Aliquam erat volutpat. Aenean accumsan.</p>
      </li>
    </ul>
    <button type="button" class="about-button">Read more ></button>
  </section>
</container>
