<section class="advantages" id="advantages">
  <div class="container advantages--container">
    <h2 id="advantages" class="hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--item1">
        <h2 class="advantages__title advantages__title--icon1">721</h2>
        <p class="advantages__subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--item2">
        <h2 class="advantages__title advantages__title--icon2">16kg</h2>
        <p class="advantages__subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--item3">
        <h2 class="advantages__title advantages__title--icon3">84</h2>
        <p class="advantages__subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
