<section class="contacts">
  <div class="container--contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="card-set">
      <li class="card-set__item">
        <p class="card-set__agency">CAFE</p>
        <ul class="card-set__location">
          <li class="card-set__location-city">Chicago</li>
          <li class="card-set__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>

        <div class="card-set__working">
          <ul class="card-set__working-weekdays">
            <li>Monday - Friday</li>
            <li class="card-set__working-time">06:00 AM - 10:00 PM</li>
          </ul>
          <ul>
            <li class="card-set__working-weekends">Saturday - Sunday</li>
            <li class="card-set__working-time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>

        <ul class="card-set__contacts">
          <li>
            <a class="card-set__tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="card-set__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card-set__item">
        <p class="card-set__agency-color">FOODTRUCK</p>

        <ul class="card-set__location">
          <li class="card-set__location-city">Los Angeles</li>
          <li class="card-set__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>

        <div class="card-set__working">
          <ul class="card-set__working-weekdays">
            <li>Monday - Friday</li>
            <li class="card-set__working-time">06:00 AM - 10:00 PM</li>
          </ul>
          <ul>
            <li class="card-set__working-weekends">Saturday - Sunday</li>
            <li class="card-set__working-time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>

        <ul class="card-set__contacts">
          <li>
            <a class="card-set__tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="card-set__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card-set__item">
        <p class="card-set__agency">CAFE</p>

        <ul class="card-set__location">
          <li class="card-set__location-city">New York</li>
          <li class="card-set__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>

        <div class="card-set__working">
          <ul class="card-set__working-weekdays">
            <li>Monday - Friday</li>
            <li class="card-set__working-time">06:00 AM - 10:00 PM</li>
          </ul>
          <ul>
            <li class="card-set__working-weekends">Saturday - Sunday</li>
            <li class="card-set__working-time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>

        <ul class="card-set__contacts">
          <li>
            <a class="card-set__tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="card-set__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-buttons">
      <li>
        <button class="contacts-buttons__locations">
          Our Locations
          <span class="contacts-buttons__arrow">
            <svg
              width="6"
              height="10"
              viewBox="0 0 6 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1L4.61035 5L1 9"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </button>
      </li>
      <li>
        <button class="contacts-buttons__franchise">
          Franchise
          <span class="contacts-buttons__arrow">
            <svg
              width="7"
              height="10"
              viewBox="0 0 7 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.42041 1L5.70162 5L1.42041 9"
                stroke="#D41443"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </button>
      </li>
    </ul>
  </div>
</section>
