<section class="customer">
    <h2 class="customer__title">Customer Reviews</h2>
    <div class="one-time">
        <div class="customer__reviews">
            <picture class="customer__picture">
                <source srcset="./images/customer-rewiews/testimonials1.png 1x, 
                                ./images/customer-rewiews/testimonials1@2x.png 2x"/>
                <img class="customer__img" src="./images/customer-rewiews/testimonials1@2x.png" alt="Portrait">
            </picture>
            <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            <p class="customer__name">Emily, Los Angeles</p>
        </div>
        <div class="customer__reviews">
            <picture class="customer__picture">
                <source srcset="./images/customer-rewiews/testimonials2.png 1x, 
                                ./images/customer-rewiews/testimonials2@2x.png 2x" />
                <img class="reviews__img" src="./images/customer-rewiews/testimonials2@2x.png" alt="Portrait">
            </picture>
            <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            <p class="customer__name">Emily, Los Angeles</p>
        </div>
        <div class="customer__reviews">
            <picture class="customer__picture">
                <source srcset="./images/customer-rewiews/testimonials3.png 1x, 
                                ./images/customer-rewiews/testimonials3@2x.png 2x" />
                <img class="reviews__img" src="./images/customer-rewiews/testimonials3@2x.png" alt="Portrait">
            </picture>
            <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            <p class="customer__name">Emily, Los Angeles</p>
        </div>
    </div>
</section>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
    $('.one-time').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        adaptiveHeight: true
    });
</script> -->
<script>
    $(document).ready(function () {
        $('.one-time').slick({
            dots: true,
            dotsClass: "my-dots",
        });
    });
</script>