<div class="gallery">
  <div class="container">
    <div class="ice-gallery">
      <!-- <img src="../images/mobile/gallery/img1m.png" alt="" /> -->
      <div class="grid1">
        <img
          srcset="
            ./images/mobile/gallery/img1_m.png      320w,
            ./images/mobile/gallery/img1_m@2x.png   640w,
            ./images/tablet/gallery/img1_t.png      768w,
            ./images/desctop/gallery/img1_d.png    1200w,
            ./images/tablet/gallery/img1_t@2x.png  1536w,
            ./images/desctop/gallery/img1_d@2x.png 2400w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 85px, (min-width: 320px) 38px"
          alt="xxxxx"
          class="gallery__img"
          src="./images/mobile/gallery/img1_m.png"
        />
      </div>
      <div class="grid1">
        <img
          srcset="
            ./images/mobile/gallery/img2_m.png      320w,
            ./images/mobile/gallery/img2_m@2x.png   640w,
            ./images/tablet/gallery/img2_t.png      768w,
            ./images/desctop/gallery/img2_d.png    1200w,
            ./images/tablet/gallery/img2_t@2x.png  1536w,
            ./images/desctop/gallery/img2_d@2x.png 2400w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 85px, (min-width: 320px) 38px"
          alt="xxxxx"
          class="gallery__img"
          src="./images/mobile/gallery/img2_m.png"
        />
      </div>
      <div class="grid1">
        <img
          srcset="
            ./images/mobile/gallery/img3_m.png      320w,
            ./images/mobile/gallery/img3_m@2x.png   640w,
            ./images/tablet/gallery/img3_t.png      768w,
            ./images/desctop/gallery/img3_d.png    1200w,
            ./images/tablet/gallery/img3_t@2x.png  1536w,
            ./images/desctop/gallery/img3_d@2x.png 2400w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 85px, (min-width: 320px) 38px"
          alt="xxxxx"
          class="gallery__img"
          src="./images/mobile/gallery/img3_m.png"
        />
      </div>
      <div class="grid1">
        <img
          srcset="
            ./images/mobile/gallery/img4_m.png      320w,
            ./images/mobile/gallery/img4_m@2x.png   640w,
            ./images/tablet/gallery/img4_t.png      768w,
            ./images/desctop/gallery/img4_d.png    1200w,
            ./images/tablet/gallery/img4_t@2x.png  1536w,
            ./images/desctop/gallery/img4_d@2x.png 2400w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 85px, (min-width: 320px) 38px"
          alt="xxxxx"
          class="gallery__img"
          src="./images/mobile/gallery/img4_m.png"
        />
      </div>
      <div class="grid1">
        <img
          srcset="
            ./images/mobile/gallery/img5_m.png      320w,
            ./images/mobile/gallery/img5_m@2x.png   640w,
            ./images/tablet/gallery/img5_t.png      768w,
            ./images/desctop/gallery/img5_d.png    1200w,
            ./images/tablet/gallery/img5_t@2x.png  1536w,
            ./images/desctop/gallery/img5_d@2x.png 2400w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 85px, (min-width: 320px) 38px"
          alt="xxxxx"
          class="gallery__img"
          src="./images/mobile/gallery/img5_m.png"
        />
      </div>
      <div class="grid1">
        <img
          srcset="
            ./images/mobile/gallery/img6_m.png      320w,
            ./images/mobile/gallery/img6_m@2x.png   640w,
            ./images/tablet/gallery/img6_t.png      768w,
            ./images/desctop/gallery/img6_d.png    1200w,
            ./images/tablet/gallery/img6_t@2x.png  1536w,
            ./images/desctop/gallery/img6_d@2x.png 2400w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 85px, (min-width: 320px) 38px"
          alt="xxxxx"
          class="gallery__img"
          src="./images/mobile/gallery/img6_m.png"
        />
      </div>
      <div class="grid1">
        <img
          srcset="
            ./images/mobile/gallery/img7_m.png      320w,
            ./images/mobile/gallery/img7_m@2x.png   640w,
            ./images/tablet/gallery/img7_t.png      768w,
            ./images/desctop/gallery/img7_d.png    1200w,
            ./images/tablet/gallery/img7_t@2x.png  1536w,
            ./images/desctop/gallery/img7_d@2x.png 2400w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 85px, (min-width: 320px) 38px"
          alt="xxxxx"
          class="gallery__img"
          src="./images/mobile/gallery/img7_m.png"
        />
      </div>
      <div class="grid1">
        <img
          srcset="
            ./images/mobile/gallery/img9_m.png      320w,
            ./images/mobile/gallery/img9_m@2x.png   640w,
            ./images/tablet/gallery/img9_t.png      768w,
            ./images/desctop/gallery/img9_d.png    1200w,
            ./images/tablet/gallery/img9_t@2x.png  1536w,
            ./images/desctop/gallery/img9_d@2x.png 2400w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 85px, (min-width: 320px) 38px"
          alt="xxxxx"
          class="gallery__img"
          src="./images/mobile/gallery/img9_m.png"
        />
      </div>
      <div class="grid1">
        <img
          srcset="
            ./images/mobile/gallery/img9_m.png      320w,
            ./images/mobile/gallery/img9_m@2x.png   640w,
            ./images/tablet/gallery/img9_t.png      768w,
            ./images/desctop/gallery/img9_d.png    1200w,
            ./images/tablet/gallery/img9_t@2x.png  1536w,
            ./images/desctop/gallery/img9_d@2x.png 2400w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 85px, (min-width: 320px) 38px"
          alt="xxxxx"
          class="gallery__img"
          src="./images/mobile/gallery/img9_m.png"
        />
      </div>
      <div class="grid1">
        <img
          srcset="
            ./images/mobile/gallery/img10_m.png      320w,
            ./images/mobile/gallery/img10_m@2x.png   640w,
            ./images/tablet/gallery/img10_t.png      768w,
            ./images/desctop/gallery/img10_d.png    1200w,
            ./images/tablet/gallery/img10_t@2x.png  1536w,
            ./images/desctop/gallery/img10_d@2x.png 2400w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 85px, (min-width: 320px) 38px"
          alt="xxxxx"
          class="gallery__img"
          src="./images/mobile/gallery/img10_m.png"
        />
      </div>
    </div>
  </div>
</div>
