<div class="mob-menu is-hidden">
  <button type="button" class="close-menu-btn">
    <svg class="close-btn__icon" width="26" height="26">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button type="button" class="mob-menu__btn">
    Buy now <span class="mob-menu__span">&gt;</span>
  </button>
  <nav>
    <ul class="mob-menu__list">
      <li class="mob-menu__item">
        <a href="#" class="mob-menu__link">Home</a>
      </li>
      <li class="mob-menu__item">
        <a href="#advantages" class="mob-menu__link">About us</a>
      </li>
      <li class="mob-menu__item">
        <a href="#about" class="mob-menu__link">How it’s made?</a>
      </li>
      <li class="mob-menu__item">
        <a href="#products" class="mob-menu__link">Our products</a>
      </li>
      <li class="mob-menu__item">
        <a href="#contacts" class="mob-menu__link">Contact</a>
      </li>
    </ul>
  </nav>
</div>
