<div class="mob-menu is-hidden">
  <button type="button" class="close-menu-btn">
    <svg class="close-menu-btn__icon" width="26" height="26">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button type="button" class="mob-menu__btn" data-modal-open-mob>
    Buy now <span class="mob-menu__span">&gt;</span>
  </button>
  <nav>
    <ul class="mob-menu__list">
      <li class="mob-menu__item">
        <a href="#" class="mob-menu__link l0">Home</a>
      </li>
      <li class="mob-menu__item">
        <a href="#advantages" class="mob-menu__link l1">About us</a>
      </li>
      <li class="mob-menu__item">
        <a href="#about" class="mob-menu__link l2">How it’s made?</a>
      </li>
      <li class="mob-menu__item">
        <a href="#products" class="mob-menu__link l3">Our products</a>
      </li>
      <li class="mob-menu__item">
        <a href="#contacts" class="mob-menu__link l4">Contact</a>
      </li>
    </ul>
  </nav>
</div>
