<!-- Modal -->
<div class="backdrop backdrop--is-hidden" data-modal>
  <div class="modal">
    <div class="modal__decor"></div>
    <p class="modal__title">Make your order</p>
    <form class="form">
      <div class="form__field form__field--radio">
        <p class="form__title">Choose size:</p>
        <label>
          <input class="radio" type="radio" name="size" value="small" checked />
          Small
        </label>
        <label>
          <input class="radio" type="radio" name="size" value="medium" />
          Medium
        </label>
        <label>
          <input class="radio" type="radio" name="size" value="large" />
          Large
        </label>
      </div>
      <div class="form__field form__field--checkbox">
        <p class="form__title">Choose flavor:</p>
        <div class="form__set">
          <label>
            <input
              class="checkbox"
              type="checkbox"
              name="flavor"
              value="chocolate"
            />
            Chocolate
          </label>
          <label>
            <input
              class="checkbox"
              type="checkbox"
              name="flavor"
              value="vanilla"
            />
            Vanilla
          </label>
          <label>
            <input
              class="checkbox"
              type="checkbox"
              name="flavor"
              value="bubblegum"
            />
            Bubblegum
          </label>
        </div>
        <div class="form__set">
          <label>
            <input
              class="checkbox"
              type="checkbox"
              name="flavor"
              value="strawberry"
            />
            Strawberry
          </label>
          <label>
            <input
              class="checkbox"
              type="checkbox"
              name="flavor"
              value="pistachio"
            />
            Pistachio
          </label>
          <label>
            <input
              class="checkbox"
              type="checkbox"
              name="flavor"
              value="cotton-candy"
            />
            Cotton candy
          </label>
        </div>
      </div>
      <div class="form__field">
        <label for="name" class="form__label">Name</label>
        <input type="text" name="name" id="name" class="form__input" />
      </div>
      <div class="form__field">
        <label for="tel" class="form__label">Phone</label>
        <input type="tel" name="tel" id="tel" class="form__input" />
      </div>
      <div class="form__field">
        <label for="commentary" class="form__label">Special request</label>
        <textarea
          name="commentary"
          id="commentary"
          class="form__textarea"
          placeholder="What else would you like to add to your icecream?"
        ></textarea>
      </div>
      <button type="submit" class="form__button">Order</button>
    </form>
    <button class="form__btn-close" data-modal-close>
      <svg class="form__close-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
