<!-- Modal -->
<div class="backdrop backdrop--is-hidden" data-modal>
  <div class="modal">
    <div class="modal__decor"></div>
    <p class="modal__title">Make your order</p>
    <form class="form">
      <div class="radiocheckbox-wrapper">
        <div class="form__field--radio">
          <p class="form__title">Choose size:</p>
          <label class="radio">
            <input type="radio" name="size" value="small" checked />
            <span>Small</span>
          </label>
          <label class="radio">
            <input type="radio" name="size" value="medium" />
            <span>Medium</span>
          </label>
          <label class="radio">
            <input type="radio" name="size" value="large" />
            <span>Large</span>
          </label>
        </div>
        <div class="form__field--checkbox">
          <p class="form__title">Choose flavor:</p>
          <div class="checkbox-set">
            <div class="checkbox-set--small">
              <input
                class="inp-cbx"
                id="cbx1"
                type="checkbox"
                name="flavor"
                value="chocolate"
                style="display: none"
              />
              <label class="cbx" for="cbx1"
                ><span>
                  <svg viewbox="0 0 14 14">
                    <polyline
                      points="1.5 6 4.5 9 10.5 1"
                    ></polyline></svg></span
                ><span>Chocolate</span></label
              >
              <input
                class="inp-cbx"
                id="cbx2"
                type="checkbox"
                name="flavor"
                value="vanilla"
                style="display: none"
              />
              <label class="cbx" for="cbx2"
                ><span>
                  <svg viewbox="0 0 14 14">
                    <polyline
                      points="1.5 6 4.5 9 10.5 1"
                    ></polyline></svg></span
                ><span>Vanilla</span></label
              >
              <input
                class="inp-cbx"
                id="cbx3"
                type="checkbox"
                name="flavor"
                value="bubble-gum"
                style="display: none"
              />
              <label class="cbx" for="cbx3"
                ><span>
                  <svg viewbox="0 0 14 14">
                    <polyline
                      points="1.5 6 4.5 9 10.5 1"
                    ></polyline></svg></span
                ><span>Bubble gum</span></label
              >
            </div>
            <div class="checkbox-set--small">
              <input
                class="inp-cbx"
                id="cbx4"
                type="checkbox"
                name="flavor"
                value="strawberry"
                style="display: none"
              />
              <label class="cbx" for="cbx4"
                ><span>
                  <svg viewbox="0 0 14 14">
                    <polyline
                      points="1.5 6 4.5 9 10.5 1"
                    ></polyline></svg></span
                ><span>Strawberry</span></label
              >
              <input
                class="inp-cbx"
                id="cbx5"
                type="checkbox"
                name="flavor"
                value="pistachio"
                style="display: none"
              />
              <label class="cbx" for="cbx5"
                ><span>
                  <svg viewbox="0 0 14 14">
                    <polyline
                      points="1.5 6 4.5 9 10.5 1"
                    ></polyline></svg></span
                ><span>Pistachio</span></label
              >
              <input
                class="inp-cbx"
                id="cbx6"
                type="checkbox"
                name="flavor"
                value="cotton-candy"
                style="display: none"
              />
              <label class="cbx" for="cbx6"
                ><span>
                  <svg viewbox="0 0 14 14">
                    <polyline
                      points="1.5 6 4.5 9 10.5 1"
                    ></polyline></svg></span
                ><span>Cotton candy</span></label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="form__field">
        <label for="name" class="form__label">Name</label>
        <input type="text" name="name" id="name" class="form__input" />
      </div>
      <div class="form__field">
        <label for="tel" class="form__label">Phone</label>
        <input type="tel" name="tel" id="tel" class="form__input" />
      </div>
      <div class="form__field">
        <label for="commentary" class="form__label">Special request</label>
        <textarea
          name="commentary"
          id="commentary"
          class="form__textarea"
          placeholder="What else would you like to add to your icecream?"
        ></textarea>
      </div>
      <button type="submit" class="form__button">Order</button>
    </form>
    <button class="form__btn-close" data-modal-close>
      <svg class="form__close-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
