<div class="pop-up" id="pop_up">
  <div class="pop-up__container">
    <div class="pop-up__body">
      <iframe
        class="pop-up__frame"
        src="https://www.google.com/maps/d/embed?mid=11ai4vTl18g5doi51qkPAR2ObGg6naYc&ehbc=2E312F&z=3"
      ></iframe>
      <button type="button" class="pop-up__close" id="pop_up_close">
        <svg class="pop-up__button" width="20" height="20">
          <use href="/src/images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>

<div class="pop-up" id="pop_up_fr">
  <div class="pop-up__container">
    <div class="pop-up__body">
      <iframe
        class="pop-up__frame"
        src="https://www.google.com/maps/d/u/0/embed?mid=1af5rQQJJxNUX7mS__Tk42iULXqY-fiY&ehbc=2E312F&z=5"
      ></iframe>
      <button type="button" class="pop-up__close" id="pop_up_close_fr">
        <svg class="pop-up__button" width="20" height="20">
          <use href="/src/images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
