<section class="products">
  <p class="products__title">100% natural</p>
  <h2 class="products__title-main">products</h2>
  <ul class="products__list">
    <li class="products__item">
      <img
        src="./images/mobile/products/home-pic1-mob.png"
        alt="ice cream"
        width="280"
        height="280"
      />
      <div class="products-about">
        <h3 class="products__item-name">ice cream</h3>
        <span class="products__item-dot">&#9679;</span>
        <span class="products__item-dot">&#9679;</span>
        <span class="products__item-dot">&#9679;</span>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="arrow">&#8594;</button>
      </div>
    </li>
    <li class="products__item">
      <img
        class="products__item-image"
        src="./images/mobile/products/home-pic2-mob.png"
        alt="ice cream"
        width="280"
        height="280"
      />
      <div class="products-about">
        <h3 class="products__item-name">ice coffee</h3>
        <span class="products__item-dot">&#9679;</span>
        <span class="products__item-dot">&#9679;</span>
        <span class="products__item-dot">&#9679;</span>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="arrow" type="button">&#8594;</button>
      </div>
    </li>
    <li class="products__item">
      <img
        src="./images/mobile/products/home-pic3-mob.png"
        alt="ice cream"
        width="280"
        height="280"
      />
      <div class="products-about">
        <h3 class="products__item-name">milkshakes</h3>
        <span class="products__item-dot">&#9679;</span>
        <span class="products__item-dot">&#9679;</span>
        <span class="products__item-dot">&#9679;</span>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="arrow">&#8594;</button>
      </div>
    </li>
  </ul>
</section>
