.hidden {
  display: none;
}

.advantages {
  &--container {
    @include mobile {
      padding-top: 20px;
    }

    @include tablet {
      padding-top: 40px;
    }

    @include desktop {
      padding-top: 30px;
      padding-bottom: 60px;
    }
  }

  @include mobile {
    padding-top: 0;
  }

  @include desktop {
    padding: 0;
  }
  background-color: var(--common-bg-color);

  &__list {
    @include tablet {
      display: flex;
      width: 527px;
    }

    @include desktop {
      display: flex;
      width: 1141px;
    }
  }
  &__item {
    @include mobile {
      @media screen and (max-width: 767px) {
        width: 230px;

        &:not(:last-child) {
          margin-bottom: 32px;
        }
      }
    }

    @include tablet {
      width: auto;
      margin-bottom: 0;
    }

    @include desktop {
      &--item1 {
        margin-right: 142px;
      }
      &--item2 {
        margin-right: 109px;
      }
    }
  }

  &__title::before {
    content: '';

    display: block;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    cursor: pointer;

    animation: animate110 2500ms infinite 400ms;
  }

  @keyframes animate110 {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  &__title {
    &--icon1::before {
      background-image: url(../images/mobile/advantages/advantages1.png);
      width: 33px;

      @include mobile {
        margin-bottom: 16px;
      }

      @include tablet {
        margin-bottom: 36px;
      }

      @include desktop {
        margin-bottom: 40px;
      }
    }

    &--icon2::before {
      background-image: url(../images/mobile/advantages/advantages2.png);
      width: 50px;

      @include mobile {
        margin-bottom: 16px;
      }

      @include tablet {
        margin-bottom: 36px;
      }

      @include desktop {
        margin-bottom: 40px;
      }
    }

    &--icon3::before {
      background-image: url(../images/mobile/advantages/advantages3.png);
      width: 44px;

      @include mobile {
        margin-bottom: 16px;
      }

      @include tablet {
        margin-bottom: 36px;
      }

      @include desktop {
        margin-bottom: 40px;
      }
    }

    font-family: 'Titan One', sans-serif;
    color: var(--header-color);

    @include mobile {
      margin-bottom: 16px;
      @include font(400, 36px, 1.145, 0.04);
    }

    @include tablet {
      margin-bottom: 13px;
      @include font(400, 48px, 1.145, 0.04);
    }

    @include desktop {
      margin-bottom: 16px;
      @include font(400, 58px, 1.145, 0.04);
    }
  }

  &__subtitle {
    @include mobile {
      @include font(700, 12, 1.7, null);
    }

    @include tablet {
      @include font(700, 14, 1.7, null);
    }

    @include desktop {
      @include font(700, 16, 1.76, 0.02);
    }
  }
}
