.container--contacts {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 18px;
    padding-right: 18px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }

  // @include mobile;
  // padding-left: 16px;
  // padding-right: 16px;

  // @include tablet;
  // padding-left: 18px;
  // padding-right: 18px;

  // @include desktop;
  // padding-left: 20px;
  // padding-right: 20px;
}

.contacts {
  padding-top: 24px;
  padding-bottom: 48px;
  background-image: linear-gradient(
    to bottom,
    #fffbfd 10%,
    #fffbfd 26%,
    #fff5f6 26%
  );

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

.card-set__item {
  background-color: var(--basic-white);
  padding: 40px 32px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  transition: box-shadow $transition;

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &:hover,
  &focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  & + & {
    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }
}
.card-set {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.card-set__agency {
  @include centerFlex;
  @include font_(1.83, 0.04em, 12px);
  color: var(--basic-white);
  width: 80px;
  height: 16px;
  border-radius: 4px;
  background-color: #f0d1a5;
  margin-top: 0;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 73px;
    height: 28px;
    @include font_(1.88, 0.04em, 16px);
  }
}
.card-set__agency-color {
  @include centerFlex;
  @include font_(1.83, 0.04em, 12px);
  color: var(--basic-white);
  width: 130px;
  height: 16px;
  border-radius: 4px;
  background-color: #c2e297;
  margin-top: 0;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 138px;
    height: 28px;
    @include font_(1.88, 0.04em, 16px);
  }
}

.card-set__location {
  margin-bottom: 48px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    bottom: -25px;
  }
}

.card-set__location-city {
  margin-bottom: 8px;
  @include font_(1.83, 0.04em, 12px);
  color: var(--primary-text);

  @media screen and (min-width: 768px) {
    @include font_(1.86, 0.04em, 14px);
  }
}

.card-set__text {
  @include font_(1.5, null, 12px);
  color: var(--secondary-text);

  @media screen and (min-width: 768px) {
    @include font_(1.64, null, 14px);
  }
}

.card-set__working {
  margin-bottom: 48px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    bottom: -25px;
  }
}

.card-set__working-weekdays {
  margin-bottom: 8px;
}
.card-set__working-weekends,
.card-set__working-weekdays {
  @include font_(1.83, null, 12px);
  color: var(--primary-text);

  @media screen and (min-width: 768px) {
    @include font_(1.86, null, 14px);
  }
}

.card-set__working-time {
  @include font_(1.83, null, 12px);
  color: var(--main-color);

  @media screen and (min-width: 768px) {
    @include font_(1.86, null, 14px);
  }
}

.card-set__mail,
.card-set__tel {
  @include font_(1.5, null, 12px);
  color: var(--secondary-text);

  @media screen and (min-width: 768px) {
    @include font_(1.86, null, 14px);
  }
}

.contacts-buttons {
  margin-top: 32px;
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-top: 40px;
  }

  &__locations {
    cursor: pointer;
    width: 161px;
    height: 44px;
    background: #d41342;
    border: none;
    border-radius: 22px;
    margin-bottom: 10px;
    @include font_(1.31, null, 16px, 700);
    color: var(--basic-white);

    @media screen and (min-width: 768px) {
      margin-right: 15px;
      width: 192px;
    }
  }

  &__franchise {
    cursor: pointer;
    width: 161px;
    height: 44px;
    border: none;
    background: var(--basic-white);
    border-radius: 22px;
    @include font_(1.31, null, 16px, 700);
    color: var(--header-color);
    transition: background-color $transition;
    @media screen and (min-width: 768px) {
      width: 174px;
    }

    &:hover,
    &:focus {
      background-color: var(--secondary-accent-btn);
    }
  }

  &__arrow {
    margin-left: 8px;

    @media screen and (min-width: 768px) {
      margin-left: 13px;
    }
  }
}
