.customer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: var(--basic-white);
    @include mobile {
        width: 320px;
        padding: 80px 20px 48px;
    }
    @include tablet {
        width: 768px;
    }
    @include desktop {
        width: 1200px;
    }
}

.customer__reviews{
    position: relative;
    text-align: center;
}

.customer__reviews::before{
    content: url('../images/mobile/customer-reviews/quotes.png');
    position: absolute;
    top: 147px;
    left: 53px;
    z-index: 1;
}

.customer__img{
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 320px) {
        margin-bottom: 32px;
    }
}

.slick-slide.slick-current .customer__text--bg{
    position: absolute;
    background-color: var(--secondary-bg-color);
    width: 280px;
    height: 308px;
    top: 120px;
    left: 50%;
    margin-left: -140px;
}

.customer__text{
    position: relative;
    @media screen and (min-width: 320px) {
        padding: 43px 58px 26px 65px;
        font-size: 12px;
        line-height: 2.55;
        margin-bottom: 36px;
        z-index: 2;
    }
}

.customer__gradient{
    position: absolute;
    left: 70px;
    bottom: 160px;
    width: 180px;
    height: 250px;
    z-index: 1;
    background: repeating-linear-gradient(transparent, transparent 30px, #E1E1E1 1px, #E1E1E1 31px);
}

.customer__dots--container{
    position: absolute;
    left: 50%;
    bottom: 120px;
    width: 32px;
    margin-left: -16px;
    margin-right: auto;
}

.customer__dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--accent-btn);
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    font-size: 0;

}

.customer__dot::before {
    position: absolute;
    left: -10px;
    top: 0;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--accent-btn);
    display: inline-block;
}

.customer__dot::after{
    position: absolute;
    top: 0;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--accent-btn);
    margin-left: 10px;
    display: inline-block;
}

.customer__name {
    margin: 16px auto;
    font-size: 14px;
    line-height: 1.86;
}

/* Лента слайдов */
.slick-track {
    display: flex;
}

    .slick-dots {
        @include centerFlex;
    }

    .slick-dots li {
        list-style: none;
        margin: 0 18px;
        width: 12px;
        height: 12px;
    }

    .slick-dots li button{
        width: 12px;
        height: 12px;
        border: none;
        background-color: var(--dots-color);
        border-radius: 50%;
        color: transparent;
    }

    .slick-dots li.slick-active button{
        background: transparent;
        background-image: url('../images/mobile/customer-reviews/home.png');
        background-size: 12px;
        background-repeat: no-repeat;
        border-radius: 0;
    }