.customer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: var(--basic-white);
    @include mobile {
        width: 320px;
        padding: 40px 20px 48px;
    }
    @include tablet {
        padding: 40px 74px;
        width: 768px;
    }
    @include desktop {
        padding: 0 123px 60px;
        width: 1200px;
    }
}

.customer__reviews{
    position: relative;
    text-align: center;
}

.customer__reviews::before{
    content: url('../images/mobile/customer-reviews/quotes.png');
    position: absolute;
    z-index: 1;
    @include mobile {
        top: 147px;
        left: 53px;
    }
    @include tablet {
        top: 124px;
        left: 6px;
        width: 60.35px;
        height: 40px;
    }
    @include desktop {
        top: 133px;
        left: 105px;
        width: 54px;
        height: 40px;
    }
}

.customer__img{
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    @include mobile {
        margin-bottom: 32px;
    }
    @include tablet {
        margin-bottom: 20px;
    }
    @include desktop {
        margin-bottom: 16px;
    }
}

.slick-slide.slick-current .customer__text--bg{
    position: absolute;
    background-color: var(--secondary-bg-color);
    margin-left: auto;
    margin-right: auto;
    
    @include mobile {
        width: 280px;
        height: 308px;
        top: 120px;
    }
    @include tablet {
        width: 620px;
        height: 164px;
        top: 105px;
    }
    @include desktop {
        width: 1034px;
        height: 138px;
        top: 102px;
    }
}

.customer__text{
    position: relative;
    z-index: 2;
    
    @include mobile {
        @include font_(2.55, null, 12px);
        padding: 43px 58px 26px 65px;
        margin-bottom: 36px;
    }
    @include tablet {
        @include font_(2.16, 0.04em, 14px);
        padding: 37px 55px 44px 51px;
        margin-bottom: 24px;
    }
    @include desktop {
        @include font_(1.86, 0.04em);
        width: 1034px;
        padding: 47px 142px 39px;
        margin-bottom: 36px;
    }
}

.customer__gradient{
    position: absolute;
    z-index: 1;
    @include mobile {
        left: 70px;
        bottom: 155px;
        width: 180px;
        height: 250px;
        background: repeating-linear-gradient(transparent, transparent 30px, #E1E1E1 1px, #E1E1E1 31px);
    }
    @include tablet {
        left: 80px;
        bottom: 147px;
        width: 608px;
        height: 108px;
        background: repeating-linear-gradient(transparent, transparent 29px, #E1E1E1 1px, #E1E1E1 30px);
    }
    @include desktop {
        left: 229px;
        bottom: 174px;
        width: 822px;
        height: 92px;
        background: repeating-linear-gradient(transparent, transparent 30px, #E1E1E1 1px, #E1E1E1 31px);
    }
}

.customer__dots--container{
    position: absolute;
    left: 50%;
    width: 32px;
    margin-left: -16px;
    margin-right: auto;
    @include mobile {
        bottom: 115px;
    }
    @include tablet {
        bottom: 115px;
    }
    @include desktop {
        bottom: 145px;
    }
}

.customer__dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--accent-btn);
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    font-size: 0;

}

.customer__dot::before {
    position: absolute;
    left: -10px;
    top: 0;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--accent-btn);
    display: inline-block;
}

.customer__dot::after{
    position: absolute;
    top: 0;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--accent-btn);
    margin-left: 10px;
    display: inline-block;
}

.customer__name {
    line-height: 1.86;

    @include mobile {
        margin: 0 auto 11px;
        font-size: 14px;
    }
    @include tablet {
        margin: 0 auto 16px;
        font-size: 16px;
    }
    @include desktop {
        margin: 0 auto 20px;
        font-size: 20px;
    }
}

/* Лента слайдов */
.slick-track {
    display: flex;
}

    .slick-dots {
        display: flex;
        width: 72.4px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .slick-dots li {
        list-style: none;
        width: 12px;
        height: 12px;
    }

    .slick-dots li button{
        width: 12px;
        height: 12px;
        border: none;
        background-color: var(--dots-color);
        border-radius: 50%;
        color: transparent;
        font-size: 0;
        padding: 0;
    }

    .slick-dots li.slick-active button{
        background: transparent;
        background-image: url('../images/mobile/customer-reviews/home.png');
        background-size: 12px;
        background-repeat: no-repeat;
        border-radius: 0;
    }